@use 'sass:color';
@use '../variables' as *;

.value-block {
  background: color.adjust($color-primary, $lightness: 45%);
  border-radius: $radius;
  padding: 1rem;
  min-width: 100px;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-top: 0.5rem;
  }
}