@use 'variables';
@use 'mixins';
@use 'components/block';
@use 'components/button';
@use 'components/header';
@use 'components/weather-block';
@use 'components/value';

body {
  font-family: Arial, sans-serif;
  background: #f0f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}